<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/ap">APAUDIOPRO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/ap/portfolio">Portfolio</a></li>
        <li><a href="/ap/services">Services</a></li>
        <li><a href="/ap/contact">Contact</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">User <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="active"><a tabindex="-1" href="/ap/account">Account<span class="sr-only">(current)</span></a></li>
                    <li><a tabindex="-1" href="/ap/myfiles">My Files</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a tabindex="-1" href="/ap/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<hr />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container">
    <div class="text-center">
        <h1>Account Info</h1>
<!--        <a href="/logout" class="btn btn-default btn-sm">Logout</a>-->
    </div>
    <div class="row">
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6 col-sm-offset-3">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>

                    <p>
                        <strong>id</strong>: <%= user.google.id %><br>
                        <strong>token</strong>: <%= user.google.token %><br>
                        <strong>email</strong>: <%= user.google.email %><br>
                        <strong>name</strong>: <%= user.google.name %>
                    </p>

            </div>
        </div>

    </div>

</div>
