<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/ap">APAUDIOPRO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/ap/portfolio">Portfolio</a></li>
        <li><a href="/ap/services">Services</a></li>
        <li><a href="/ap/contact">Contact</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/ap/account">Account</a></li>
            <li class="active"><a href="/ap/myfiles">My Files<span class="sr-only">(current)</span></a></li>
            <li><a href="/ap/logout">Logout</a></li>
<!--
            <li class="dropdown">
                <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">User <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="active"><a tabindex="-1" href="/ap/account">Account<span class="sr-only">(current)</span></a></li>
                    <li><a tabindex="-1" href="/ap/myfiles">My Files</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a tabindex="-1" href="/ap/logout">Logout</a></li>
                </ul>
            </li>
-->
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<hr />
<div class="container">
    <div id="listing"></div>

    <!-- add jquery - if you already have it just ignore this line -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        
    <!-- the JS variables for the listing -->
    <script type="text/javascript">
        var S3BL_IGNORE_PATH = true;
        var BUCKET_NAME = '';
        var BUCKET_URL = 'http://aws-ap-test.s3.amazonaws.com/';
        var S3B_ROOT_DIR = '';
    </script>
    <!-- the JS to the do the listing -->
    <script src="https://rawgit.com/rgrp/s3-bucket-listing/gh-pages/list.js"></script>
<!--    <script src="../list.js"></script>-->
</div>