<!--Let user know if they're on Login or Signup-->
<h1>{{header}}</h1>

<!--form posts to the current route-->
<form  class="ui form" method="post" action="">
    <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="username">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="password">
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>